* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
    color: white;
}

.mynav {
    background-color: black;
}

.article {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    color: black;
}

.article .content {
    width: 50%;
    height: auto;
}

.article .content .title {
    width: 100%;
    height: auto;
    margin-top: 10vh;
}

.article .content .image {
    width: 100%;
    height: auto;
    margin-top: 5vh;
}

.article .content .image img {
    width: 100%;
}

.article .content .body {
    width: 100%;
    height: auto;
    margin: 5vh 0px;
}

.article .content .body p{
    font-size: 1.3vw;
    margin-bottom: 5vh;
}

.article .content .body .space {
    width: 100%;
    height: 5vh;
}

.article .content .title h2 {
    font-size: 1vw;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 864px) {
    .article .content {
        width: 90%;
    }

    .article .content .title {
        margin-top: 5vh;
    }

    .article .content .title h2 {
        font-size: 5vw;
    }

    .article .content .body p {
        font-size: 5vw;
    }
}

